

NET "LHS_LED<0>" LOC = "P6";
NET "LHS_LED<1>" LOC = "P8";
NET "LHS_LED<2>" LOC = "P13";
NET "LHS_LED<3>" LOC = "P16";

NET "RHS_LED<0>" LOC = "P41";
NET "RHS_LED<1>" LOC = "P43";
NET "RHS_LED<2>" LOC = "P1";
NET "RHS_LED<3>" LOC = "P3";

NET "RESULT_LED<0>" LOC = "P29";
NET "RESULT_LED<1>" LOC = "P27";
NET "RESULT_LED<2>" LOC = "P20";
NET "RESULT_LED<3>" LOC = "P18";

NET "BUTTON_1_HI" LOC = "P37";
NET "BUTTON_1_LO" LOC = "P38";
NET "BUTTON_2_HI" LOC = "P34";
NET "BUTTON_2_LO" LOC = "P36";

NET "LED_1" LOC = "P39";

NET "CLK" LOC = "P44";
NET "CLK" BUFG=CLK;