
NET "z80_m1" LOC = "P29";
NET "z80_rd" LOC = "P30";
NET "z80_mreq" LOC = "P31";
NET "z80_wait" LOC = "P32";

NET "z80_addr<0>" LOC="p37";
NET "z80_addr<1>" LOC="p36";
NET "z80_addr<2>" LOC="p35";
NET "z80_addr<3>" LOC="p40";

NET "z80_data<0>" LOC="p18";
NET "z80_data<1>" LOC="p19";
NET "z80_data<2>" LOC="p20";
NET "z80_data<3>" LOC="p21";
NET "z80_data<4>" LOC="p22";
NET "z80_data<5>" LOC="p23";
NET "z80_data<6>" LOC="p27";
NET "z80_data<7>" LOC="p28";

NET "w25_cs" LOC = "p7";
NET "w25_mosi" LOC = "p2";
NET "w25_miso" LOC = "p6";
NET "w25_clk" LOC = "p3";

NET "reset" LOC="P33"|BUFG=SR;

NET "clk" LOC="P43"|BUFG=CLK;

#NET "button" LOC =  "P18";
NET "led_1" LOC =  "P39";
NET "led_2" LOC =  "P38";